<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="diary" type="com.chan.old.vo.DiaryVO" />
		<typeAlias alias="duser" type="com.chan.old.vo.DuserVO" />
	</typeAliases>
</configuration>